body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.32s ease;
}
a.card:hover {
  color: inherit;
  /* border-color: #010050; */
  box-shadow: 0 0 15px rgb(0 0 0 / 0.75);
}
.my-text-color {
  color: #010050;
}
.poster {
  max-width: 250px;
}
.poster img {
  width: 100%;
  height: 100%;
}
.more-info > :first-child {
  /* gap: 30px; */
  min-width: fit-content;
}

.loading {
  height: 90vh;
  width: 100%;
}
.loading .spinner-border {
  height: 100px;
  width: 100px;
}
.card {
  max-width: 250px;
  width: 100%;
}
.card img {
  height: 100%;
}
@media screen and (max-width: 525px) {
  .card {
    max-width: none;
    width: 100%;
  }
}
